# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data files
*.npy
*.npz
*.txt
processed_data/
model_results/

# Logs
*.log 

# Large files
audio000.raw
audio000_fmcw_16bit_diff_profiles.png
record_20250420_151910_752866_audio000_fmcw_16bit_diff_profiles.mp4
*.mp4
*.raw
*.png 